{% extends "layout.njk" %}

{% block content %}

    <div class="container">

        <div id="wrapperReceitas">
            <div class="pageTitle">
                <h1>Gerenciar receitas</h1>
            </div>

            <section class="cards">
                {%for recipe in recipes %}
                    <div class="card" id="{{recipe.image}}">
                        <div class="CardImgContainer">
                            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                        </div>
                        <div class="CardContainer">
                            <h1>{{recipe.title}}</h1>
                        </div>
                        <div class="CardInfo">
                            <p>{{recipe.author}}</p>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>


{% endblock content %}